@import url(https://fonts.googleapis.com/css?family=Varela+Round rel="stylesheet");

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

/* WELCOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    background:
    url('logo.jpg')
    no-repeat
    center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 140px;
    text-align: center;
    padding: 30px;
    color: white;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: lightgray;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.form-container {
    margin: 0 auto;
    float: none;
    padding-top: 20px;
    width: 300px;
    z-index: 1;
}

.welcome-button {
    margin-top: 5px;
    text-align: center;
    padding: 2px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: RoyalBlue;
}

.other-link {
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    background-color: red;
    padding: 10.5px 32px;
    border-radius: 8px;
    color: white;
}
.form-shape {
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
.has-danger {
    color: red;
}

button:hover {
  opacity: 0.8;
}

/* LogIn                     */

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.profile-wrapper p {
    text-transform: capitalize;
}

.biography-container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    text-align: justify;
    overflow: scroll;
}
.biography-container p {
    font-size: 11pt;
}

#profile-picture {
    width: 300px;
    height: 300px;
}

@media screen and (max-width:720px) {
    .profile-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .biography-container {
        margin-top: 10px;
        margin-left: 28px;
        margin-right: 28px;
        height: 150px;
        text-align: justify;
        overflow: scroll;
    }
    .biography-container p {
        font-size: 11pt;
    }
    #profile-picture {
        width: 200px;
        height: 200px;
    }
}


/* Uploader: */

.uploader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 320px;
    height: 600px;
    /* background: rgba(0, 0, 0, 0.3); */
    border: 1px solid black;
    background: white;
    text-align: center;
}

.uploader-container p {
    font-size: 16pt;
    font-family: Georgia;
    margin: 10px;
    color: white;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    margin: 20px 30px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile:focus + label, .inputfile + label:hover {
    background: Royalblue;
}

.inputfile + label {
	cursor: pointer;
}

a.close-window-utility {
    float:right;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
    color: #fff;
    /* border: 1px solid #AEAEAE; */
    border-radius: 30px;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    color: black;
    /* background: rgba(0, 0, 0, 0.3) */
    background: white;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.form-personal-info {
    margin: 0 auto;
    float: none;
    padding-top: 20px;
    width: 500px;
    height: 400px;
    opacity: 0.7;
    background-color: black
}

.form-personal-info button {
    width: 100px;
    height: 40px;
    background-color: Royalblue;
    color: white;
    margin-left: 35%;
    margin-top: 5%;
}

@media screen and (max-width:720px) {
    .form-personal-info {
        width: 300px;
        height: 300px;
    }
}

.form-container p {
    text-align: center;
    margin: 15px;
    color: white;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: 600px;
    overflow-y: scroll;
}

.list-city-friends {
    margin-top: 10px;
}

.city-friend-img {
    width: 200px;
    height: 200px;
}

.main-wrapper {
    border: 1px solid black;
    background-color: lightgray;
    width: 100vw;
}

.img-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.text-wrapper {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width:720px) {

  .chat-container {
    height: 400px;
    align-items: center;
  }
  .city-friend-img {
      width: 100px;
      height: 100px;
  }
  .main-wrapper {
      height: 100px;
      width: 400px
  }
  .text-wrapper p {
      margin: 0;
  }
}

nav {
    background: lightgray;
    width: 100%;
    list-style-type: none;
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
}

.nav-links {
    height: 40px;
    width: 40px;
}

@media screen and (max-width:720px) {
  nav li { text-decoration: none; color: white; }
}

/*  Chat             */

.main-chat-wrapper {
    height: 600px;
    overflow-y: scroll;
}
.priv-chat-container {
    display: flex;
}

#previous-chat-container {
    width: 80%;
    height: 500px;
    overflow: scroll;
}

#active-chat-bar {
    width: 20%;
    height: 500px;
    overflow: scroll;
}

@media screen and (max-width:720px) {
    #previous-chat-container, #active-chat-bar { height: 350px }
}

.private_chat-editor {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 70%;
  height: 4em;
  margin-top: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #96B9FF;
}


@media screen and (max-width:720px) {
    .private_chat-editor {width: 100%}
}

#chat-btn {
    background-color: RoyalBlue;
    height: 66px;
    width: 68px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.router-link {
    text-decoration: none;
    color: black;
}

.router-link:hover {
    text-decoration: none;
    color: white;
}
/* Active chats component */

#active-chat-bar {
    color: black;
}

.chatlist-li {
    border: 1px solid gray;
}

.chatlist-li:hover {
    background-color: RoyalBlue;
}
.chatlist-li p {
    text-align: center;
    text-transform: capitalize;
    margin-top: 7px;
}

/* @media screen and (max-width:720px) {
    #previous-chat-container, #active-chat-bar { height: 300px }
} */

.private_chat_sender{
    border-bottom-right-radius: 15px;
    text-align: right;
    background-color: lightgray;
    color: black;
    margin: 2% 4%;
    min-width: 200px;
    max-width: 300px;
    max-height: auto;
    min-height: 40px;
    list-style: none;
}

.private_chat_receiver {
    border-bottom-left-radius: 15px;
    text-align: left;
    margin: 2% 4%;
    margin-left: 80%;
    background-color: blue;
    color: white;
    min-width: 200px;
    max-width: 300px;
    max-height: auto;
    min-height: 40px;
    list-style: none;
}



.private_chat_sender h4, .private_chat_receiver h4{
    margin: 10px 20px;
}

.private_chat_sender h6, .private_chat_receiver h6 {
    margin: 0px 20px;
    font-size: 8pt;
}

@media screen and (max-width:720px) {
    .private_chat_sender {
        max-width: 100px;
        margin-right: 2%;

    }
    .private_chat_receiver {
        margin-left: 35%;
        max-width: 100px;
    }

    .private_chat_sender h4, .private_chat_receiver h4{
        font-size: 12pt;
    }

    .private_chat_sender h6, .private_chat_receiver h6 {
        font-size: 9pt;
    }
}
